[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "9EhPHaP7fmkPEBnhbeLPBs7Io"},
	    {api_secret, "g0cN6fCwrCFnOWeW2Xdd7BiODS4dRJ7O4KzKpcYpq6YNvBcjvH"},
	    {access_token, "2258727386-Dwx5wYjjSxGw6osZXiVzIxEL5wOq6dvlWOEKlgq"},
	    {access_token_secret, "M2GCvLXX4Mcfa7UFTUeL2c07aXZEKLjgZ5Y3Nza4cKHl4"}]
    }]}]}].
