[{twitterminer, [
{twitter_accounts, [
{account1, [
{api_key, "W5jSHPk1g2n6Y5OToIWEC9mNk"},
{api_secret, "U2k31bXlZPAGJ0UfbWFW5eiSmnQh0yC76JNjvwD59nJ2ooQML1"},
{access_token, "2785441210-dOa5rrsdYTUuy9fvyLouoyE2gUWVaeou57Ep4s0 "},
{access_token_secret, "dUsJRuMA9w5GwqAfi4ILoiGp8DJHM9cgxPoNxSpVidvHe"}]
}]}]}].
